/*  POUR : poèmes > structure générale > diplomatique  */

/*  CHECKBOXES  */

div#definition1 {
  font-family: 'Source Sans Pro', sans-serif;
}

div#definition2 {
  height: 45%;
  overflow: auto;
  display: block;
}

div#definition2 div {
  margin-bottom: 4px;
  border-radius: 3px;
}

div#definition2 div[n="2"] {
  margin-left: 20px;
}

div#definition2 div[n="1"] {
  text-transform: uppercase;
}

input {
  margin : 0.4em;
}

span.reg {
  font-size : 0%;
} 

span.corr {
  font-size : 0%;
}

/* REPARTITION TEXTE */

div.back {
  margin-top: 2%;
  margin-left: 24%;
  margin-right: 2%;
  text-align: justify;
  color: #333;
  font: 85%/1.5 Verdana, sans-serif;
}

div.back a {
  color: #bca029;
  font-weight:bold;
  margin-right: 5px;
  text-decoration: none;
}

div.back a:after {
  color: #333;
  content: " –";
}

span.back {
  margin-bottom: 1%;
}

/* notes côté */

ul.sidenotes {
  list-style: none;
  color:#888;
  font:.833em/1.44 Verdana, sans-serif; 
  position:absolute; 
  margin:4px; 
  right:2%; 
  width:33%;
  overflow: visible;
}

ul.sidenotes li {
  font:.833em Verdana, sans-serif;
}

.over {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul.sidenotes .num {
  font-weight:bold;
  margin-right: 5px;
}

div.lg a {
  font:.6em Verdana, sans-serif; 
  vertical-align:top;
  color: black;
  text-decoration: none;
}

li .num a {
    font: Verdana, sans-serif;
    vertical-align: top;
    text-decoration: none;
    font-size: 1em;
    color : inherit;
    font-weight :bold;
}

li .num a::after {
    content: '.';
}

/* POEME STUCTURE */

div.lg{
  width: 52%;
}

