/*  POUR : page d'accueil  */

/*  IMAGE  */

div.image {
    position: absolute;
    background-image: url("DUG_Titre.png");
    width:540px;
    height:557px;
}

/*  DIV  */

div.menu span {
padding-left: 10px;
font-family: 'Source Sans Pro', sans-serif; 
color: #fff;
font-size: 18px;
}

div.presentation{
    text-align: justify;
    position:relative;
    top: 210px; 
    left: -130px; 
    margin-left: 58%;
    margin-right: -14%;
    padding:2%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

div.tutoriel {
    text-align: justify;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 415px;
    margin-left: 1%;
    margin-right: 4%;
}

/*  SPAN  */

span.resp {
    padding-left: 50%;
}

span.information {
    color: #dbaa7f;
    font-weight: bold;
}