/*  POUR : ossature du site  */

/* ZONE TEXTE */

#texte_complet p {
	 margin-top: 1px;
	 margin-bottom: 8px;
	 margin-left: 7%;
	 margin-right: 17%;
}

#texte_complet ul {
	 margin-top: 1px;
	 margin-bottom: 8px;
   margin-left: 7%;
	 margin-right: 17%;
}
#texte_complet > div > p {
  padding-bottom: 10px;
	line-height: 150%;
}

/*  BODY  */

.body p {
  font-size :16px;
  line-height : 1.43em; 
}

.body a,.body a:link,.body a:hover {
text-decoration: none;
color: #997A8D;
}

.body a,.body a:visited,.body a:active {
text-decoration: none;
color: #91283B;
}

/* MENU CSS 1 */

div.menu {
	background:#dc8389;
	line-height:normal;
	border-bottom:1px solid #dc8389;
	}

ul#menuplus a i {
	font-size: 150%;
}

ul#menuplus a {
	color: #999;
	text-decoration: none;
	border-radius: 3px;
	}

ul#menuplus a:hover {
	background: #900;
	color:#CCAA7F;
	}

/* Root = Horizontal, Secondary = Vertical */
ul#menuplus {
	margin: 0;
	border: 0 none;
	padding: 0;
	/*! width: 500px; */ /*For KHTML*/
	list-style: none;
	height: 36px;
	margin-left: 24%;
	}

ul#menuplus li {
	/*! margin: 0; */
	border: 0 none;
	padding: 0;
	float: left; /*For Gecko*/
	display: inline;
	list-style: none;
	position: relative;
	height: 24px;
	margin-top:9.5px;
	}

ul#menuplus ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 160px;
	list-style: none;
	display: none;
	position: absolute;
	top: 24px;
	left: 0;
	}

ul#menuplus ul:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
	}

ul#menuplus ul li {
	width: 160px;
	float: left; /*For IE 7 lack of compliance*/
	display: block !important;
	display: inline; /*For IE*/
	padding: 0.5px;
	margin:3px 0px 0px 0px;
	}

ul#menuplus ul li:first-child {
	margin-top : 3%;
}

/* Root Menu */
ul#menuplus a {
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
	border-radius: 4px 4px 0px 0px;
	float: none !important;
	display: block;
	background-image:linear-gradient(#ffffff,#f8f8f8);
	font: bold 11px/1.5em Verdana;
	text-decoration: none;
	height: auto !important;
  padding: 4.5px 10px 4px 10px;
	margin-left: 1px;
	}

/* Root Menu Hover Persistence */
ul#menuplus a:hover,
ul#menuplus li:hover a,
ul#menuplus li.iehover a {
  background-image:linear-gradient(#fefdfe,#FFFBF5);
  border: 1px solid #ccbca2;
	border-bottom: 1px solid #dc8389;
	color:#CCAA7F;
	}

/* 2nd Menu */
ul#menuplus li:hover li a,
ul#menuplus li.iehover li a {
	border-radius:3px;
	float: none;
	color: #999;
	background-image:linear-gradient(#ffffff,#f8f8f8);
  border: 1px solid #999999;
	}

/* 2nd Menu Hover Persistence */
ul#menuplus li:hover li a:hover,
ul#menuplus li:hover li:hover a,
ul#menuplus li.iehover li a:hover,
ul#menuplus li.iehover li.iehover a {
  background-image:linear-gradient(#fefdfe,#FFFBF5);
  border: 1px solid #ccbca2;
	color:#CCAA7F;
	}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menuplus li:hover ul ul,
ul#menuplus li:hover ul ul ul,
ul#menuplus li.iehover ul ul,
ul#menuplus li.iehover ul ul ul {
	display: none;
	}

ul#menuplus li:hover ul,
ul#menuplus ul li:hover ul,
ul#menuplus ul ul li:hover ul,
ul#menuplus li.iehover ul,
ul#menuplus ul li.iehover ul,
ul#menuplus ul ul li.iehover ul {
	display: block;
	}

/*  FONT  */

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 26, 2019 */

@font-face {
    font-family: 'robotolight';
    src: url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium-webfont.woff2') format('woff2'),
         url('roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}