/*  POUR : poèmes > structure générale > sommaires  */

/*  LIENS  */

#texte_complet a {
  color:black;
  text-decoration: none;
}

/*  NAVIGATION  */

div.nav{
    position: fixed; 
    bottom: 0px;
    padding-left:9%; 
    margin: 4px 4px 4px 4px;
}
